@model ContactViewModel

<h1 style="color:#0076A3; margin-left:12px;">@Model.FieldsModel.Title</h1>
<div style="margin-left:12px; margin-right:50px">
	<br style="line-height:9px">
	<p><strong>@Model.FieldsModel.Address</strong>@Model.InfoModel.Address<br />
	<strong>@Model.FieldsModel.TelephoneNumber</strong>@Model.InfoModel.TelephoneNumber<br />
	<strong>@Model.FieldsModel.Email</strong> <a href="mailto:info@mash-import.com">@Model.InfoModel.Email</a></p><br/>
</div>
